# Compiler files
cache/
out/
node_modules/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv files - ignore all dotenvs but track examples
.env
.env.*
!.env.example
!.env.*.example
